# Ignore Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
venv/
.venv/
ENV/

# IDE settings
.vscode/
.idea/
*.swp
*.swo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Model files (if large)
*.h5
*.pkl

# Logs
*.log

# pycache
__pycache__/

# Node / Frontend
node_modules/
dist/
.vite/
*.tsbuildinfo